.errorWrapper {
    padding: 2em;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    margin: auto;
    transform: translate(0, 60%);
}

.errorWrapper p {
    color: rgb(90, 138, 119);
    font-size: 2em;
}

.statusCodeHeader {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 5em;
    color: #fffdfe;
    text-shadow: 2px 2px #a07181;
    position: relative;
}

.errorWrapper hr {
    border: 0 none;
    border-top: 2px dashed #a07181;
    position: relative;
}

.errorHeader {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3em;
    color: #f8d7e8;
    text-shadow: 2px 2px #a07181;
    position: relative;
}

.skillsWrapper {
    transform: translate(0, 0);
    width: 70%;
    background-color: rgba(162, 221, 213, 0.5);
}